.upload-job-description-container {
    display: flex;
    background-color: #E5A823;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.upload-job-description-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 250px;
}

.logo {
    position: absolute;
    width: 15vw;
    max-width: 200px;
    height: auto;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}

.error-container {
    background-color: white;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 20px;
}

.upload-job-description-header { 
    text-align: center;
    margin: 0;
    padding: 0;
    color: #0055A2;
    text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upload-job-description-header h1 {
    padding: 0;
}



.upload-job-description-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upload-job-description-textbox {
    width: 50vw;
    height: 40vh;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
} 

.word-count {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 70px;
}

.upload-job-description-button {
    width: 200px;
    font-size: 1rem;
    background-color: #0055A2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
}

.upload-job-description-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.upload-job-description-button:enabled:hover {
    background-color: #0055A2;
}

@media (max-width: 850px) {
    .upload-job-description-header { 
        max-width: 400px;
        margin-left: 100px;
        text-align: center;
        padding: 0;
        color: #0055A2;
        text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}