.resume-improvements-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #E5A823;
}

.resume-improvements-header {
    min-width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0055A2;
    text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); }

.resume-improvements-header h1 {
    padding: 0;
}

.logo {
    width: 180px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
} 

.sidebar {
    width: 40vw;
    height: 80vh;
    padding-right: 5px;
    overflow-y: auto;
}

.sidebar-comment {
    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    gap: 20px;
}

.comment-description strong {
    font-size: 1.3rem;
    padding: 0;
}
.sidebar-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.comment-description {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment-description p {
    margin: 0;
    padding: 4px;
}

.comment-number {
    width: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.comment-number p {
    margin: 0;
    padding: 0;
}

.nav-buttons {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 
}

.nav-buttons button {
    background-color: #0055A2;
    color: white;
    border: none;
    padding: 15px 60px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

.loading-container {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #0055A2;
}

.comment-suggestion {
    font-size: 1.3rem;
}

.comment-reference-text {
    font-style: italic;
    font-size: 0.9rem;
}

.error-container {
    background-color: white;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 20px;
}

.error-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.error-container p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 800px) {
    .resume-improvements-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background-color: #E5A823;
    }

    .sidebar {
        width: 90vw;
    }

}

