.resume-score-container {
    display: flex;
    background-color: #E5A823;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume-score-header { 
    text-align: center;
    margin: 0;
    color: #0055A2;
    text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resume-score-header h1 {
    padding: 0;
}

.resume-score-display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}


.resume-score-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.category-label {
    text-align: center;
    color: black;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.score-circle-alignment {
    text-align: center;
    margin-bottom: 6vh;
}

.subcategory-label {
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.scores-background-rectangle {
    width: 20vw;
    height: 62vh;
    border-radius: 20px;
    background-color: white;
    margin-top: 75px;
    min-height: 500px;
    min-width: 200px;
}

.improve-resume-button {
    width: 200px;
    font-size: 1.2rem;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background-color: #0055A2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
}

.loading-container {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container {
    background-color: white;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 20px;
}

.error-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@media (max-width: 800px) {
    .resume-score-display-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        width: 50vw;
    }

    .scores-background-rectangle {
        width: 100%;
        height: 62vh;
        border-radius: 20px;
        background-color: white;
        margin-top: 75px;
        min-height: 500px;
        min-width: 200px;
    }

    .resume-score-header { 
        max-width: 300px;
        text-align: center;
        margin: 0;
        color: #0055A2;
        text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
}