.upload-resume-container {
    display: flex;
    min-width: 500px;
    background-color: #E5A823;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-resume-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
}

.home-page-logo {
    width: 300px;
}

.upload-resume-header { 
    text-align: center;
    margin-right: 13vw;
    letter-spacing: 3px;
    color: #0055A2;
    text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
    font-size: 2.3rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upload-resume-header h1 {
    padding: 0;
    margin: 0;
    padding: 0;
}

.upload-resume-header h2 { 
    text-align: center;
    margin: 0;
    color: #0055A2;
    letter-spacing: 1px;
    text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload-resume-header h2 {
    padding: 0;
}


.upload-resume-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.background-rectangle {
    width: 50vw;
    height: 45vh;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    margin-top: 50px;
    min-height: 300px;
}

.upload-resume-description {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.upload-image {
    margin-top: 50px;
    width: 5vw;
    min-width:50px;
    max-width: 100px;
    margin-bottom: 1vh;
}

.upload-resume-button {
    width: 15vw;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #E5A823;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload-resume-file-type-description {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error-message {
    color: red;
    font-size:1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-description {
    text-align: center;
    font-size: 1.8rem;
    max-width: 50vw;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.bold-blue {
    color: #0055A2;
    font-weight: bold;
}
@media (max-width: 800px) {
    .upload-resume-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 250px;
    }

    .upload-resume-header { 
        text-align: center;
        margin-right: 0;
        letter-spacing: 3px;
        color: #0055A2;
        text-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); 
        font-size: 2.3rem;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .home-page-logo {
        width: 250px;
        margin-bottom: -50px;
    }

    .background-rectangle {
        width: 50vw;
        border-radius: 20px;
        border: 1px solid black;
        background-color: white;
        min-height: 300px;
    }

    .upload-resume-container {
        display: flex;
        min-width: 500px;
        background-color: #E5A823;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .product-description {
        font-size: 1.2rem;
        margin-top: 50px;
    }

    
}